* {
    font-family: 'roboto';
}

:root {
    --blue: rgb(0, 162, 255);
    --white: white;
    --grey: rgb(214, 214, 214);
    --green: #14532d;
    --green-2: #166534;
    --dark-yellow: #bbf7d0;

    --footer-and-header-background-color: var(--green);
    --header-color: var(--white);
    --background-color: var(--white);
    --book-color: var(--green-2)
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    width: 100vw;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-rows: repeat(auto-fit, 250px);
    grid-row: 2;
    padding: 25px 10% 25px 10%;
    flex: 1;
    background-color: var(--background-color);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.book {
    width: 220px;
    height: 250px;
    background-color: var(--book-color);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.705);
    border-radius: 8px;
    border: 1px solid black;
    grid-column: span 2;
}


.header {
    background-color: var(--footer-and-header-background-color);
    color: var(--header-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0 0 12px 0px black;
    z-index: 1;
}

.footer {
    background-color: var(--footer-and-header-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    box-shadow: 0 0 12px 0px black;
    z-index: 1;
}

.footer button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
}

.footer img {
    width: 50px;
    height: auto;
}

.book-input {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    z-index: 2;
}

.addBook {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBook img {
    height: 100px;
}